# Database
POSTGRES_URL="your_postgres_url"
POSTGRES_PRISMA_URL="your_postgres_prisma_url"
POSTGRES_URL_NON_POOLING="your_postgres_url_non_pooling"

# KV Store
KV_URL="your_kv_url"
KV_REST_API_URL="your_kv_rest_api_url"
KV_REST_API_TOKEN="your_kv_rest_api_token"
KV_REST_API_READ_ONLY_TOKEN="your_kv_rest_api_read_only_token"

# Realtime (Ably)
ABLY_API_KEY="your_ably_api_key"
NEXT_PUBLIC_ABLY_CLIENT_ID="cali-lights"

# App Config
NEXT_PUBLIC_APP_URL="http://localhost:3000"
DEFAULT_TOKEN="cali"


OPENAI_API_KEY=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
CLOUDINARY_CLOUD_NAME="dgl1gcrlw"
CLOUDINARY_API_KEY="718144629421687"
CLOUDINARY_API_SECRET="TUVtre8Dg7aDQ7WTcCfgLfDlNsI"